server:
  port: 8061

spring:
  application:
    name: tr-eureka-service
  security:
    user:
      name: ${SECURITY_USER_NAME:-admin}
      password: ${SECURITY_USER_PASSWORD:-DnictPro@123}
  boot:
    admin:
      client:
        enabled: true
        url: http://localhost:9090 # Local Admin server for dev
        instance:
          metadata:
            username: ${spring.boot.admin.client.username}
            password: ${spring.boot.admin.client.password}
        username: ${SECURITY_USER_NAME:-admin}
        password: ${SECURITY_USER_PASSWORD:-DnictPro@123}

eureka:
  instance:
    hostname: localhost # Default for local dev
    lease-renewal-interval-in-seconds: 5
    health-check-url-path: /actuator/health
    status-page-url-path: /actuator/info
    metadata-map:
      startup: ${random.int}
  server:
    eviction-interval-timer-in-ms: 10000
    wait-time-in-ms-when-sync-empty: 0
  client:
    registry-fetch-interval-seconds: 5
    register-with-eureka: false
    fetch-registry: false

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always

logging:
  level:
    vn.tr: @logging.level@
    org.springframework: warn
  config: classpath:logback.xml
